* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d1321;
  background-repeat: no-repeat;
  background-position: fixed;
    color: white;
    margin: 0;
    padding: 0;
    
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#up-arrow{
  position: relative;

  right: -650px;
  top: 50px;
  width: 50px;
  height: 50px;
  box-shadow: none;
}
.logo img{
    width: 50px;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00FFFF;
}

.github-button {
    padding: 10px 20px;
    background-color: #00FFFF;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
}

.github-button:hover {
    background-color: #00d1d1;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.profile img {
    border-radius: 60px;
    width: 300px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 30px 40px 30px 30px rgb(67, 65, 61);
   
}

.profile-content {
    max-width: 500px;
}

.profile-content h1 {
    font-size: 36px;
}

.profile-content h2 {
    font-size: 24px;
    color: #00FFFF;
    margin: 10px 0;
}

.profile-content p {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 16px;
}

.resume-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #00FFFF;
    color: #00FFFF;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.resume-button:hover {
    background-color: #00FFFF;
    color: black;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile img {
        margin-bottom: 30px;
    }
}

  /* about me css */
  .about-me {
    background-color: #e2e7eb;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  
  .image-section {
    flex: 1 1 300px;
    text-align: center;
  }
  
  .image-section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgb(163, 198, 206);
  }
  
  .text-section {
    flex: 2 1 500px;
  }
  
  .text-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;
  }
  
  .text-section h2 span {
    color: #f0380bc9;
    margin-left: 10px;
  }
  
  .text-section h3   {
    font-size: 1.8rem;
    margin: 10px 0;
    color: black;
  }
  
  .text-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(24, 22, 22);
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    margin-right: 10px;
    font-size: 2.5rem;
    color: #333;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #00cfe8;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-section h2,
    .text-section h3 {
      text-align: center;
    }
  
    .social-links {
      justify-content: center;
    }
  }
/* education css */
  
  .education {
    background-color: #0d1321;
    color: #f5f5f5;
    padding: 50px 20px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2.5rem;
    color: #f5f5f5;
  }
  
  h2 span {
    margin-left: 7px;
    color: #00cfe8;
  }
  
  .description {
    font-size: 1rem;
    color: #b0b3b8;
    margin: 10px 0 30px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  #content h2{
    margin-left: 90px;
  }
  .image-part {
    flex: 1 1 300px;
  }
  
  .image-part img {
    max-width: 70%;
    border-radius: 10px;
  }
  
  #text-section {
    flex: 2 1 500px;
    text-align: left;
    line-height: 10px;
  }
  
  #text-section h3 {
    color: #00cfe8;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  #text-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  strong {
    color: #ffffff;
  }

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      text-align: center;
    }
  
    #text-section {
      text-align: center;
    }
  
    #text-section h3 {
      text-align: center;
    }
    #content h2{
        margin-left: 10px;
      }
  }

  .project-section{
    background-color: #b0b3b8;
    width: 100vw;
    height: 100vh;
  }


  /* skill section */

  .skills-section {
    color: black;
    background-color: #e2e7eb;
    padding: 50px;
    text-align: center;
}

.skills-section h2 {
  color: #00cfe8;
    margin-bottom: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 20px;
    
   
}

.skill-card {
    border: 2px solid #0d85e0;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px rgb(80, 125, 135);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skill-card img {
    width: 80px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}
  /* contact me */
  .contact-section {
    padding: 50px;
    text-align: center;
    color: #0d1321;
    background-color: rgb(116, 183, 185);
}

.contact-section h2 {
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item {
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ddd; */
    padding: 20px;
    margin: 10px;
    width: 280px;
     height: 200px;
    text-align: center;
    border-radius: 55px;
}

.icon-container {
    /* background-color: #e6e6e6; */
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;
    margin-bottom: -10px;
}

.icon-container img {
   width: 80px;
   height: 60px;
}

@media screen and (max-width: 768px) {
    .contact-item {
        width: 100%;
    }
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
 
}

.card {
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 20px 20px 20px 20px rgb(50, 50, 49);
   
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  margin: 15px 0;
}

.card p {
  font-size: 14px;
  color: #555;
}

.link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ff4c60;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.link:hover {
  background-color: #e03e50;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
}